<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--C3P0配置 -->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.timeout">120</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="c3p0.maxIdleTime">25000</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/buy</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
            </property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">true</property>
     
      <mapping class="buy.domain.User" />
      <mapping class="buy.domain.Role" />
      <mapping class="buy.domain.Source" />
       
      <mapping class="buy.domain.goods.Goods" />
      <mapping class="buy.domain.goods.Subdivide" />
      <mapping class="buy.domain.goods.Category" />
       <mapping class="buy.domain.goods.Manager"/>
        
    </session-factory>

</hibernate-configuration>