<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">
	<bean id="loginAction" class="buy.service.login.LoginAction"
		scope="session">
		<property name="login" ref="login"></property>
	</bean>
	<bean id="login" class="buy.service.login.imp.LoginImp" scope="singleton"></bean>
	<bean id="userDao" class="buy.dao.imp.UserDaoImp" scope="prototype"></bean>
	<bean id="registerAction" class="buy.service.register.RegisterAction"
		scope="prototype">
	</bean>
	<bean id="registerService" class="buy.service.register.RegisterService"
		scope="prototype">
		<property name="dao" ref="userDao"></property>
	</bean>
	<bean id="registerServlet" class="buy.service.register.Register.RegisterServlet"
		scope="prototype">
	</bean>
	

</beans>